@import 'tailwindcss';
@import './font.css';

@layer theme, base, components, utilities;

@theme {
  --font-pretendard: 'Pretendard', sans-serif;

  /* 컬러 커스텀 */
  --color-primary: #3b82f6;
  --color-secondary: #ec4899;
  --color-custom-gray: #6b7280;
}

/* CSS 초기화(Reset), 기본 태그 스타일(h1, p, body 등) 정의 */
@layer base {
  body {
    font-family: var(--font-pretendard);
    color: var(--color-mint-500);
  }

  h1 {
    @apply text-2xl font-bold;
  }
}

/* 버튼, 카드 등 재사용 가능한 복잡한 UI 컴포넌트 클래스 정의 */
@layer components {
  .btn-primary {
    background-color: var(--color-primary);
    @apply rounded-lg px-4 py-2 text-white;
  }
}

/* : 단일 목적의 헬퍼 클래스(flex, text-center 등) 정의 */
@layer utilities {
  .text-shadow-sm {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  }
}
