/* 브라우저가 바로 쓰는 순수 CSS 전역 변수 */
:root {
  --font-display: 'Pretendard', 'Noto Sans KR';
  --font-sans:
    ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, 'Times New Roman', Times, serif;
  --font-mono: ui-monospace, 'Liberation Mono', 'Courier New', monospace;

  --user-theme-color: oklch(0.36 0.19 291.68 / 1);
  --user-theme-amber-color: oklch(0.555 0.163 48.998);
  --user-theme-blue-color: oklch(0.488 0.243 264.376);
  --user-theme-cyan-color: oklch(0.52 0.105 223.128);
  --user-theme-emerald-color: oklch(0.508 0.118 165.612);
  --user-theme-fuchsia-color: oklch(0.518 0.253 323.949);
  --user-theme-green-color: oklch(0.527 0.154 150.069);
  --user-theme-indigo-color: oklch(0.457 0.24 277.023);
  --user-theme-lime-color: oklch(0.841 0.238 128.85);
  --user-theme-orange-color: oklch(0.553 0.195 38.402);
  --user-theme-pink-color: oklch(0.525 0.223 3.958);
  --user-theme-purple-color: oklch(0.496 0.265 301.924);
  --user-theme-red-color: oklch(0.505 0.213 27.518);
  --user-theme-rose-color: oklch(0.514 0.222 16.935);
  --user-theme-sky-color: oklch(0.5 0.134 242.749);
  --user-theme-teal-color: oklch(0.511 0.096 186.391);
  --user-theme-vlolet-color: oklch(0.491 0.27 292.581);
  --user-theme-yellow-color: oklch(0.852 0.199 91.936);

  --background: oklch(1 0 0);
  --sub-background: oklch(0.99 0 286.38 / 1);
  --foreground: oklch(0.145 0 0);
  --sub-foreground: oklch(0.21 0.03 223.84 / 1);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.52 0.105 223.128);
  --primary-foreground: oklch(0.984 0.019 200.873);
  --secondary: oklch(0.967 0.001 286.375);
  --sub-secondary: oklch(0.94 0 286.38 / 1);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.97 0 0);
  --sub-muted: oklch(0.89 0 286.38 / 1);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --sub-accent: oklch(0.92 0 286.38 / 1);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --sub-border: oklch(0.89 0 286.38 / 1);

  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.837 0.128 66.29);
  --chart-2: oklch(0.705 0.213 47.604);
  --chart-3: oklch(0.646 0.222 41.116);
  --chart-4: oklch(0.553 0.195 38.402);
  --chart-5: oklch(0.47 0.157 37.304);

  --radius: 0.625rem;

  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.609 0.126 221.723);
  --sidebar-primary-foreground: oklch(0.984 0.019 200.873);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --sub-background: oklch(0.28 0 0 / 1);
  --foreground: oklch(0.985 0 0);
  --sub-foreground: oklch(0.92 0 0 / 1);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.45 0.085 224.283);
  --primary-foreground: oklch(0.984 0.019 200.873);
  --secondary: oklch(0.274 0.006 286.033);
  --sub-secondary: oklch(0.36 0 0 / 1);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --sub-muted: oklch(0.41 0 0 / 1);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --sub-accent: oklch(0.41 0 0 / 1);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --sub-border: oklch(0.48 0 0 / 1);

  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.837 0.128 66.29);
  --chart-2: oklch(0.705 0.213 47.604);
  --chart-3: oklch(0.646 0.222 41.116);
  --chart-4: oklch(0.553 0.195 38.402);
  --chart-5: oklch(0.47 0.157 37.304);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.715 0.143 215.221);
  --sidebar-primary-foreground: oklch(0.302 0.056 229.695);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

/* :root 에 선언된 변수를 Tailwind 유틸과 연결 */
@theme inline {
  --font-display: var(--font-display);
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
  --font-mono: var(--font-mono);
  --font-heading: var(--font-display);

  --color-user-theme: var(--user-theme-color);
  --color-theme-amber: var(--theme-amber-color);
  --color-theme-blue: var(--theme-blue-color);
  --color-theme-cyan: var(--theme-cyan-color);
  --color-theme-emerald: var(--theme-emerald-color);
  --color-theme-fuchsia: var(--theme-fuchsia-color);
  --color-theme-green: var(--theme-green-color);
  --color-theme-indigo: var(--theme-indigo-color);
  --color-theme-lime: var(--theme-lime-color);
  --color-theme-orange: var(--theme-orange-color);
  --color-theme-pink: var(--theme-pink-color);
  --color-theme-purple: var(--theme-purple-color);
  --color-theme-red: var(--theme-red-color);
  --color-theme-rose: var(--theme-rose-color);
  --color-theme-sky: var(--theme-sky-color);
  --color-theme-teal: var(--theme-teal-color);
  --color-theme-violet: var(--theme-violet-color);
  --color-theme-yellow: var(--theme-yellow-color);

  --color-foreground: var(--foreground);
  --color-sub-foreground: var(--sub-foreground);
  --color-background: var(--background);
  --color-sub-background: var(--sub-background);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--user-theme-color);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-sub-secondary: var(--sub-secondary);
  --color-accent: var(--accent);
  --color-sub-accent: var(--sub-accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-muted: var(--muted);
  --color-sub-muted: var(--sub-muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-border: var(--border);
  --color-sub-border: var(--sub-border);
  --color-ring: var(--ring);

  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-input: var(--input);
  --color-destructive: var(--destructive);

  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}
