/* : 단일 목적의 헬퍼 클래스(flex, text-center 등) 정의 */
@utility scrollbar-thin-6 {
  -ms-overflow-style: auto;
  scrollbar-width: auto;

  &::-webkit-scrollbar {
    display: block;
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--muted-foreground);
    border-radius: 3px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: var(--muted-foreground);
  }
}
